:root {
  --main-color: #012353;
  --main-color1: white;
  --main-color2: #530023;
}
body {
  margin: 0;
  font-family: "roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
