@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");
.navbar-nav a {
  color: var(--main-color) !important;
  font-family: "Varela Round", sans-serif;
}

.navbar-nav a:hover {
  color: #b30f27 !important;
}
